html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
.site-header .header-wrapper .logo-wrapper a img{
    width: 10.3rem !important;
    height: 4.5rem !important;
}

@media (max-width: 1023px){

    h1 {
        margin-top: 22% !important;
    }
   
}

@media (min-width: 1023px){

    .project-information-list>li{
        margin-left: 5rem!important;
    }
   
}


.site-header .header-wrapper .navigation-wrapper .main-nav .navigation-inner .menu-navigation>li .sub-menu-open .sub-menu-arrow {
    background-image: url("/images/menu_minus.svg");
}
